@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html {
    font-size:62.5%;
    background-color: #F5F4F2;
    color: #000;
}
body {overflow-x: hidden; }
a { 
    text-decoration: none !important; 
    color: #383838;
}
img { border: 0; }
ul { list-style: none; }
em { font-style: normal; }


/* 헤더 */
header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; 
}

#main_header {
  position: relative;
  width: 100%;
  z-index: 1; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
#main_header .logo {
  z-index: 1;
}

#main_header .logo img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  
}

#login_user {
  display: none;
}

.login_user {
 margin-right: 10px;
}

.login_user > p {
  padding: 30px;
  font-size: 2em;
  font-weight: 600;
  color: #383838;
}


/* 헤더메뉴 */
.menu {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_menu {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  padding-top: 25px;
}

#header_menu .menu .menu_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header_menu .menu .menu_list > li {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

#header_menu .menu .menu_list > li > a {
  font-size: 2em;
  font-weight: 800;
  color: #383838;
  padding: 10px;
  transition: color 0.3s;
}

#header_menu .menu .menu_list > li > a:hover {
  color: #FB3D28
}

#header_menu .menu .login_list {
  display: flex;
  flex-direction: row;
}

#header_menu .menu .login_list > li {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

#header_menu .menu .login_list > li > a {
  font-size: 2em;
  font-weight: 800;
  color: #383838;
  transition: color 0.3s;
}

#header_menu .menu .login_list > li > a:hover {
  color: #FB3D28;
}


/* 최상단 이동 버튼 */
.topBtn {
  position: fixed;
  bottom: 80px; 
  right: 40px;
  z-index: 8;
}


/* 푸터매뉴 */
#main_footer {

  width: 100%;
  height: 200px;

  background-color: #FB3D28;
}

.company_info_wrap {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
}

address {
  font-size: 1.5em;
  color: #ffff;
}

.company_info_list {
  display: flex;
  padding-top: 20px;
  font-size: 1.4em;
  color: #ffff;
}

.company_info_list. dt.with_colon::before {
  content: '· ';
  padding-left: 3.5px;

}

.company_info_list dt::after {
  content: ' :';
  padding-right: 3.5px;
}

.copyright {
  padding-top: 20px;
  font-size: 1.6em;
  font-weight: 600;
  color: #ffff;
}






