@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html {
    font-size:62.5%;
    background-color: #F5F4F2;
    color: #000;
}
body {overflow-x: hidden; }
a { 
    text-decoration: none !important; 
    color: #383838;
}
img { border: 0; }
ul { list-style: none; }


/* 메인메뉴 */
/* 슬라이드부분 */
main {
  position: relative;
  height: auto;
}

#movie_slide_wrap {
  position: relative;
  margin-top: 100px;
  height: 480px;
  margin: 0 auto;
  overflow: visible;
}

/* swiper 슬라이드 css 부분 */
/* 마우스 올렸을때 이미지 변경 구현 */
.swiper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/* 마우스 올렸을시, 다른 포스터보다 앞에 나오게 설정 */
.swiper-slide:hover {
  z-index: 2;
}

.image-container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* .image_box {
  width: 100%;
  height: auto;
} */

.image-container:hover .zoom_image {
  transform: scale(1.2);
}

.zoom_image {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
}

.overlay:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
}

/* 오버레이 버튼 부분 */
button {
  display: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

/* 오버레이가 호버됐을 때 버튼을 보여줌 */
.overlay:hover button {
  display: block; 
  margin: 10px 0;
}

.movie_detail {
  background-color: rgba(245, 244, 242, 0.7);
  font-weight: bolder;
  color: #383838;
}

.movie_ticketing {
  background-color: rgba(251, 61, 40, 0.7);
  font-weight: 700;
  color: #F5F4F2;
}

/* 슬라이드 버튼 css 구현 */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 5px;
  border-radius: 20px;
  color: #FB3D28 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.5rem !important;
  font-weight: 800 !important;
}



/* 영화예매율 부분 */
#movie_info_wrap {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

#movie_info_wrap .movie_reservation {
  margin-top: 100px;
  margin-bottom: 60px;
  height: 90px;
}

.movie_reservation p {
  text-align: center;
  font-size: 3em;
  color: #383838;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* 영화예매율 포스터 */
.movie_info {
  display: flex;
  justify-content: center;
  /* max-width: 1240px; */
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.movie_poster_arer {
  position: relative;
  /* max-width: 340px; */
  width: 340px;
  height: 100%;
  float: left;
  overflow: hidden;
  margin-right: 40px;
}


/* 이미지 - 표에서 제목을 클릭하면 해당 영화 포스터로 변경 */
.movie_poster_arer img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute; /* Change position to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Set the initial background to transparent */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}


/* 포스터 정보 */
.movie_info .movie_content_info {
  float: left;
}

.movie_content_info{
  width: 300px;
  padding-top: 36px;
  margin-right: 40px;
}

.movie_title {
  display: block;
  padding-bottom: 25px;
  width: 200px; 
}

.ellip {
  display: block;
  overflow: hidden;
}

.movie_title strong {
  font-size: 3em;
  color: #383838;
}

.movie_title span {
  font-size: 1.2em;
  color: #848484;
}

.bdbtm {
  border-bottom: 1px solid #848484;
  width: 240px;
}

.pd15 {
  padding: 20px 0;
}

.dbmovie_info .strdt {
  float: left;
  width: 80px;
  margin-right: 5px;
  font-size: 1.4em;
  font-weight: bold;
  color: #383838;
}

.dbmovie_info .strdd {
  display: block;
  width: 115px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2em;
  font-weight: 600;
  color: #848484;
}

.dbmovie_info .strdd:last-child {
  margin-bottom: 0;
}




/*  영화 순위 테이블 */
.tbl_wrap {
  width: 550px;
  float: left;
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

colgroup {
  display: table-column-group;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

.tbl_wrap table thead th {
  padding: 8px 25px 18px 10px;
  border-bottom: 2px solid #383838;
  text-align: right;

  font-weight: 800;
  font-size: 1.4em;
  color: #383838;

}

.tbl_wrap table td {
  padding: 10px 25px 15px 10px;
  border-bottom: 1px solid #848484;
  text-align: right;

  font-size: 1.2em;
  color: #848484;
  font-weight: 600;
}

tbody .rank {
  text-align: center !important;
}

.tbl_wrap table td:first-child {
  padding-right: 0 !important;
}

.tbl_wrap table td:last-child {
  padding: 10px 42px 15px 10px !important;
}

table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: #848484;
}

.info_data {
  display: block;
  text-align: right;
  color: #383838;
}


/* 영화 테이블 부분 - more_movie */
#movie_info_wrap .more_movie_info {
  display: block;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px; 
}

.more_movie_info a {
  font-size: 1.8em;
  font-weight: 700;
  color: #383838;
}

/* 영화 추천 박스 부분 */
#movie_search_wrap {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2px;
  max-width: 1440px;
  width: 100%;
}

.recommend_box p {
  font-size: 2em;
  font-weight: 800;
  color: #383838;
}

.recommend_tag p {
  font-size: 1.3em;
  color: #383838;
}

.movie_recommend_search {
  display: flex;
  align-items: center;
}

.movie_recommend_search input {
  width: 600px; 
  height: 70px; 
  font-size: 20px;
  border: 3px solid #383838; 
  border-radius: 5px;
  padding: 0 10px;
}

.movie_recommend_search .recommend_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.movie_recommend_search .recommend_btn img {
  padding-top: 4px;
  border: none; 
  width: 90px;
  height: 90px;
}