@charset "UTF-8";

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 500px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #FB3D28;
}

#modal .modal_header {
  position: relative;
  height: 54px;
  line-height: 58px;
  border-bottom: 1px solid #CCC;
  color: #FFF;
  text-align: center;
}

.modal_header {
  border-bottom: 1px solid #666;
  color: #FFF;
  background-color: #FB3D28;
}

#modal .modal_header strong {
  font-size: 18px;
}

.modal_header .btn_close {
  background-image: url(../images/close.png);
}

.modal_header .btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 19px;
  height: 19px;
  border: none;
  text-indent: -9999em;
  background: transparent url(../images/close.png) no-repeat 0 0;
}

#modal .modal_container {
  position: relative;
  text-align: center;
}

.modal_container {
  padding: 30px 25px;
}

.seat_info {
  text-align: center;
}

.seat_info .group_container {
  padding: 20px 0;
}

.seat_info .group_top dl dt {
  display: inline-block;
  font-size: 16px;
}

.seat_info .group_top dl dd {
  display: inline-block;
  font-size: 13px;
}

.seat_info .group_top dl dd strong {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
}

.screen_preview .sm_screen {
  width: 100%;
  height: 140px;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0;
}

.screen_preview .sm_screen .tit_screen {
  position: relative;
  z-index: 1;
  color: #bdbdbd;
  letter-spacing: 2px;
  background: none;
}

.screen_preview .minimap {
  position: relative;
  top: 50%;
}

.txt_notice {
  padding: 18px 0 26px;
  text-align: center;
}

.seat_info .group_bottom .txt_notice .tit {
  margin-bottom: 5px;
  font-size: 13px;
  color: #111;
  line-height: 1.3;
}

.seat_info .group_bottom .txt_notice .tit .ic_grade {
  margin-right: 5px;
}

.seat_info .group_bottom .txt_notice.gr_15 strong {
  border-bottom: 1px solid #dd7430;
  color: #dd7430;
}

.seat_info .group_bottom .txt_notice .txt {
  line-height: 1.4;
  font-size: 11px;
  color: #666;
  letter-spacing: -0.5px;
}

.btn_bottom_wrap {
  margin: 30px 0 20px;
}

.btn_col1.ty5, 
.btn_col2.ty5 {
  height: 40px;
  line-height: 38px;
  padding: 0 18px;
}

.btn_bottom_wrap a, .btn_bottom_wrap button {
  margin: 0 3px;
  min-width: 160px;
}

.btn_col2 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #414141;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #414141;
}

.btn_col1 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #FB3D28;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #FB3D28;
}

.btn_bottom_wrap:after {
  content: "";
  display: block;
  clear: both;
}