@charset "UTF-8";

#sectiion_wrap {
  max-width: 1240px;
  width: 100%;
  height: 2400px;
  margin: 0 auto;
}

/* 영화 추천 박스 부분 */
#movie_search_wrap {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2px;
  max-width: 1440px;
  width: 100%;
}

.recommend_box p {
  font-size: 2em;
  font-weight: 800;
  color: #383838;
}

.recommend_tag p {
  font-size: 1.3em;
  color: #383838;
}

.movie_recommend_search {
  display: flex;
  align-items: center;
}

.movie_recommend_search input {
  width: 600px; 
  height: 70px; 
  font-size: 20px;
  border: 3px solid #383838; 
  border-radius: 5px;
  padding: 0 10px;
}

.movie_recommend_search .recommend_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.movie_recommend_search .recommend_btn img {
  padding-top: 4px;
  border: none; 
  width: 90px;
  height: 90px;
}


/* 현재 상영작 추천 구역 */
.movie_showing_title {
  margin-top: 30px;
  max-width: 1240px;
}

.movie_showing_title h4 {
  font-size: 3em;
  padding: 0px 0px 10px 15px;
  border-left: 10px solid #FB3D28;
  border-bottom: 2px solid #FB3D28;
  color: #383838;
}

.showing_wrap {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  padding-top: 30px;
  width: 100%;
  height: 485px;
  margin-left: 35px;
}


.movie_poster_arer {
  position: relative;
  width: 340px; 
  height: auto;
  float: left;
  overflow: hidden;
  margin-right: 40px;
}


.movie_poster_arer img {
  position: absolute;
  width: 100%; 
  height: auto; 
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
}

.overlay:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
}

/* 오버레이 버튼 부분 */
button {
  display: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

/* 오버레이가 호버됐을 때 버튼을 보여줌 */
.overlay:hover button {
  display: block; 
  margin: 10px 0;
}

.movie_detail {
  background-color: rgba(245, 244, 242, 0.7);
  font-weight: bolder;
  color: #383838;
}

.movie_ticketing {
  background-color: rgba(251, 61, 40, 0.7);
  font-weight: 700;
  color: #F5F4F2;
}




/* 지난 영화 추천 구역 */
.recommend_prev_title {
  margin-top: 100px;
  max-width: 1240px;
}

.recommend_prev_title h4 {
  font-size: 3em;
  padding: 0px 0px 10px 15px;
  border-left: 10px solid #FB3D28;
  border-bottom: 2px solid #FB3D28;
  color: #383838;
}
