@charset "UTF-8";

#contents {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 130px;
}

#contents .contents_full {
  width: 100%;
}

#contents.contents_reserve {
  padding-bottom: 70px;
  height: 125%;
}


/* #contents .wrap_reserve {
  position: relative;
  width: 1281px;
  height: 1100px;
  margin: 0 auto;
} */

.wrap_reserve {
  overflow: hidden;
  position: relative;
  width: 1280px;
  height: 1100px;
  margin: 0 auto;
  background-color: #FFF;
}

.wrap_reserve:after {
  content: "";
  display: block;
  clear: both;
}

.wrap_reserve .section_step_title {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 78px;
  display: flex;
  flex-direction: column;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.wrap_reserve .section_step_title ul {
    flex: 1; 
    padding: 0; 
    margin: 0; 
    list-style: none;
    display: flex;
    flex-direction: column;
}

.wrap_reserve .section_step_title ul li {
  position: relative;
  height: 25%;
  box-sizing: border-box;
  border-bottom: 1px solid #383838;
  border-right: 1px solid #383838;
  border-top: none;
  background-color: #FFF;
  z-index: 10;
  flex: 1;
}

.wrap_reserve .section_step_title ul li > a {
  display: block;
  height: 100%;
  color: #383838;
}

.wrap_reserve .section_step_title ul li:last-child {
  border-bottom: none;
}

.wrap_reserve .section_step_title ul li.active {
  border-color: #FB3D28 !important;;
  border-bottom-color: 1px solid #383838;
  background-color: #FB3D28 !important;
}

.wrap_reserve .section_step_title ul li.active > a {
  color: #FFF !important;
}

.wrap_reserve .section_step_title ul li.prev {
  border-color: #383838;
  border-bottom-color: #DDD;
  background-color: #383838;
}

.wrap_reserve .section_step_title ul li.prev > a {
  border-color: #383838;
  border-bottom-color: #DDD;
  background-color: #383838;
}


.wrap_reserve .section_step_title ul li.prev > a {
  color: #FFF;
}



.wrap_reserve .section_step_title ul li.active > a::before {
  content: "현재 단계";
  position: absolute;
  width: 1px;
  height: 1px;
  text-indent: -9999em;
  overflow: hidden;
}

.wrap_reserve .section_step_title ul li > a > strong {
  display: block;
  line-height: 1.5;
  padding-top: 86px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.wrap_reserve .section_step_title ul li.active > a > strong {
  font-size: 15px;
}

.wrap_reserve .section_step_title ul li > a .box_con {
  display: none;
  position: absolute;
  z-index: 1;
  left: 77px;
  top: 0;
  bottom: 0;
  width: 172px;
  padding-left: 20px;
  border-top: 1px solid #383838;
  background-color: #333;
}

.wrap_reserve .section_step_title ul li.active > a .box_con {
  background-color: #FB3D28;
}


.wrap_reserve .section_step_title ul li.active > a .box_con dl {
  margin-top: 55px;
}

.wrap_reserve .section_step_title ul li.prev > a .box_con dl {
  margin-top: 55px;
}

.wrap_reserve .section_step_title ul li > a .box_con dl dt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrap_reserve .section_step_title ul li > a .box_con dl dd {
  margin-bottom: 17px;
}

.wrap_reserve .section_step_title ul li > a .box_con dl:after {
  content: "";
  display: block;
  clear: both;
}

.wrap_reserve .section_step_title ul li > a .box_con dl dd:before {
  content: "";
  overflow: hidden;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 4px 5px 0 0;
  border-radius: 3px;
  vertical-align: top;
  background: #fff;
}



/* 표 부분 */
/* 영화선택 */
.wrap_reserve .section_step_con.active {
  display: block;
  overflow: inherit;
  position: relative;
  width: 1202px;
  height: 100%;
  margin-left: 78px;
}

.wrap_reserve .section_step_con .article_layer {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.wrap_reserve .section_step_con .article_layer.article_cinema {
  width: 351px;
  border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer .group_header {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #DDD;
  text-align: center;
  background-color: #383838;
}

.wrap_reserve .section_step_con .article_layer .group_header .tit {
  font-size: 18px;
  color: #F5F4F2;
}

.wrap_reserve .section_step_con .article_layer.article_cinema > .inner {
  overflow: hidden;
  height: 1044px;
  border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_cinema > .inner .tab_wrap.outer {
  padding-top: 85px;
}

.tab_wrap {
  position: relative;
}

.tab_wrap > li > .tab_tit {
  border: none;
}

.tab_wrap > li > .tab_tit {
  position: absolute;
  top: 0;
}

.area__movingbar .tab_wrap.outer > li.active > .tab_tit {
  border: 0;
}

.tab_wrap.outer > li > .tab_tit {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #CCC;
  font-size: 15px;
  color: #7F7F7F;
}

.wrap_reserve .section_step_con .article_layer.article_cinema > .inner .tab_wrap.outer > li > .tab_tit {
  height: 85px;
  background-color: #fff;
}

.wrap_reserve .section_step_con .article_layer.article_cinema > .inner .tab_wrap.outer > li.active > .tab_tit {
  height: 85px;
}

.article_cinema.area__movingbar.litype2 .tab_wrap.outer.actionmovingbar > li:nth-child(1).active ~ .wrap_underline .underline {
  left: 0;
}

/* 지역선택 부분 */
.tab_container {
  overflow: inherit;
  position: relative;
  width: auto;
  height: auto;
}

.cinema_select_wrap {
  position: absolute;
  height: 100%;
}

li.depth1:first-child {
  pointer-events: none;
}

.wrap_reserve .section_step_con .article_layer.article_cinema > .inner .cinema_select_wrap > ul {
  height: 960px;
}

.wrap_reserve .section_step_con .article_layer.article_cinema .cinema_select_wrap > ul li {
  padding: 2px 0;
  border-bottom: none;
}

.wrap_reserve .section_step_con .article_layer.article_cinema .cinema_select_wrap > ul > li.depth1.active > a {
  border: 2px solid #383838;
  background-color: #fff;
}

.cinema_select_wrap li.active > a:before {
  content: "선택";
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999em;
}

.cinema_select_wrap > ul > li.depth1 > a {
  display: block;
  position: relative;
  width: 171px;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 16px;
}

/* 구선택 */


.cinema_select_wrap > ul .depth2 {
  display: none;
  position: absolute;
  left: 175px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F5F5F5;
}

 .cinema_select_wrap .depth2 li {
  position: relative;
}

.cinema_select_wrap > ul .depth2 ul li {
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.cinema_select_wrap > ul .depth2 ul li a {
  display: table-cell;
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
  font-size: 16px;
  vertical-align: middle;
}

.wrap_reserve .section_step_con .article_layer.article_cinema .cinema_select_wrap > ul .depth2 ul li.active a {
  color: #383838;
  font-weight: 600;
  content: "";
  top: 0px;
  background: url(../images/ticket/check_active.png) no-repeat 100% 8px;
  background-size: 18px auto;
}


/* 구분선 */
.article_cinema.area__movingbar.litype2 .tab_wrap.outer.actionmovingbar .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 175.5px;
  height: 2px;
  background: #848484;
  transition: all .3s ease-in-out;
}


/* 영화선택 */
.wrap_reserve .section_step_con .article_layer.article_movie {
  width: 351px;
  background-color: #fff;
}

.wrap_reserve .section_step_con .article_layer.article_movie {
  width: 351px;
  border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_movie > .inner {
  overflow: hidden;
  height: 1045px;
  border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_movie .list_box {
  overflow: hidden;
  position: relative;
  height: 84px;
  padding: 0 20px;
  border-bottom: 1px solid #CCC;
  background-color: #fff;
}

.wrap_reserve .section_step_con .article_layer.article_movie > .inner .mCustomScrollbar {
  height: 960px;
}

.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}

.wrap_reserve .section_step_con .article_layer.article_movie .inner .mCSB_container {
  padding-bottom: 30px;
}

.movie_select_wrap ul > li {
  box-sizing: border-box;
  border: 2px solid transparent;
}

.movie_select_wrap ul > li.active {
  border: 2px solid #FB3D28;
}

.movie_select_wrap ul > li > a {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.movie_select_wrap.list ul > li > a {
  padding: 13px 20px;
}

.movie_select_wrap ul > li > a:after {
  content: "";
  display: block;
  clear: both;
}

.movie_select_wrap ul > li .group_infor {
  float: left;
}

.movie_select_wrap ul > li.disabled .group_infor {
  opacity: .5;
}

.movie_select_wrap.list ul > li .group_infor .bx_title:after {
  content: "";
  display: block;
  clear: both;
}

.movie_select_wrap.list ul > li .group_infor .bx_title .ic_grade {
  position: absolute;
  left: 20px;
  top: 12px;
}

.movie_select_wrap ul > li .group_infor .bx_title .ic_grade {
  margin-right: 5px;
}

.ic_grade {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}

.ic_grade.gr_all {
  background-color: transparent;
}

.ic_grade:before {
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  white-space: nowrap;
}

.ic_grade.gr_all:before {
  content: "전체";
  font-size: 11px;
}

.ic_grade.gr_all:before, .ic_grade.gr_12:before, .ic_grade.gr_15:before, .ic_grade.gr_18:before, .ic_grade.gr_non:before, .ic_grade:before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 3px;
}

.ic_grade.gr_all:before {
  content: "";
  background: #229c56 url(../images/ic_grade/grade_all.png) 0 0 no-repeat;
  background-size: 100%;
}

.ic_grade.gr_12:before {
  content: "";
  background: #e9b630 url(../images/ic_grade/grade_12.png) 0 0 no-repeat;
  background-size: 100%;
}

.ic_grade.gr_15:before {
  content: "";
  background: #dd7430 url(../images/ic_grade/grade_15.png) 0 0 no-repeat;
  background-size: 100%;
}

.ic_grade.gr_18:before {
  content: "";
  background: #d92b36 url(../images/ic_grade/grade_18.png) 0 0 no-repeat;
  background-size: 100%;
}

.movie_select_wrap ul > li .group_infor .bx_title .tit {
  font-size: 15px;
  vertical-align: middle;
}

.movie_select_wrap.list ul > li .group_infor .bx_title .tit {
  display: block;
  overflow: hidden;
  width: 250px;
  padding-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6em;
}

.movie_select_wrap.list ul > li .group_infor .bx_title:after {
  content: "";
  display: block;
  clear: both;
}


/* 시간선택 */
.wrap_reserve .section_step_con .article_layer {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFF;
}

.wrap_reserve .section_step_con .article_layer.article_time {
    width: 500px;
    border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_time > .inner {
  overflow: hidden;
  height: 1045px;
  border-right: 1px solid #DDD;
}

/* 날짜 구현 부분 */
.date_select_wrap {
  overflow: hidden;
  display: flex;
  height: 120px;
  position: relative;
  border-bottom: 1px solid #DDD;
}

.date_select_wrap .slide_reserve_date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 20px;
  margin: 0 22px 20px 6px;
  width: 8 * (52px + 5px);
  overflow: hidden; 
}

.date_select_wrap .slide_reserve_date .owl-item {
  width: 52px;
  margin-right: 5px;
}

.owl-carousel {
  position: relative;
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-stage {
  display: flex;
  padding-right: 20px;
  margin-right: 20px;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 1470px;
}

.owl-carousel .owl-item {
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.slide_wrap .owl-carousel .owl-stage-outer .item > a {
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.date_select_wrap .month {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.3em;
  color: #383838;
}

.date_select_wrap .date {
  display: block;
  position: relative;
  padding-top: 40px;
}

.date_select_wrap .date label {
  display: block;
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  vertical-align: middle;
  border: none 0;
}

.date_select_wrap .date label input[type="radio"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.date_select_wrap .date label strong {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
}

.date_select_wrap .date label input[type="radio"]:checked + strong {
  font-weight: bold;
  color: #fff;
  background: #FB3D28;
}

.date_select_wrap .date label em {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #383838;
}

/* 상영 시간 조회 = 조건 없음 */
.tab_container.ty5 {
  margin-top: 0px;
}

.tab_container {
  overflow: inherit;
  position: relative;
  width: auto;
  height: auto;
}

.hidden {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.wrap_reserve .section_step_con .article_layer.article_time > .inner .box_notice {
  clear: both;
  margin-top: 300px;
  padding-top: 80px;
  text-align: center;
  background: url(../images/ticket/movie-time.png) no-repeat center 0px;
}

.wrap_reserve .section_step_con .article_layer.article_time > .inner .box_notice p {
  padding-top: 5px;
  line-height: 1.6;
  font-size: 17px;
  color: #848484;
  font-weight: 600;
}


/* 상영시간 - 조건 있음 */
.group_time_select {
  margin-top: 30px;
}

.time_select_title {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: row;
}

.time_select_title .ic_grade {
  width: 85px;
  margin-left: 10px;
  height: 35px;
}

.time_select_title .ic_grade::before {
  width: 35px;
  height: 35px;
}

.time_select_title strong {
  position: absolute;
  margin-top: -28px;
  padding: 0 8px;
  font-size: 18px;
}

.time_select_wrap {
  margin-top: 15px;
}

.time_select_wrap .list_time {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.list_time li {
  flex-basis: calc(33.33%-15px);
  margin-left: 15px;
  list-style: none;
}

.time_select_wrap ul.list_time li {
  float: left;
  width: 33.33%;
  margin: 0px 0px 11px 0;
}

.time_select_wrap ul.list_time li > a.active {
  border: 2px solid #FB3D28; 
}


.time_select_wrap ul.list_time li:nth-child(3n+1) {
  margin-left: 0;
}

.time_select_wrap ul.list_time li > a {
  display: block;
  position: relative;
  height: 55px;
  width: 90%;
  /* padding: 8px 33px 5px; */
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #f8f8f8;
}


/* .time_select_wrap ul.list_time li > a dl {
  display: flex;
  flex-direction: column;
} */

.time_select_wrap ul.list_time li > a dl dt {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.time_select_wrap ul.list_time li > a dl dd.time {
  margin-bottom: 5px;
  font-size: 11px;
}

.time_select_wrap ul.list_time li > a dl dd.time strong {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.time_select_wrap ul.list_time li > a dl .tooltip {
  display: none;
  position: absolute;
  left: 50%;
  top: -41px;
  height: 32px;
  line-height: 34px;
  margin-left: -38px;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 13px;
  color: #FFF;
  white-space: nowrap;
  background-color: #333;
}

.time_select_wrap ul.list_time li:hover > a dl .tooltip {
  display: block;
}

.time_select_wrap ul.list_time li > a dl dt {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.time_select_wrap ul.list_time li > a dl dd.seat,
.time_select_wrap ul.list_time li > a dl dd.hall {
  display: inline-block;
  font-size: 11px;
  color: #666;
  margin: 5px 10px;
}

.time_select_wrap ul.list_time li > a dl dd.hall {
  right: 9px;
  font-size: 13px;
  margin-left: 13px;
}







/* 스크롤바 css */



