@charset "UTF-8";

a {
    color: #fff;
}

#contents {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 130px;
}
  
#contents .contents_full {
    width: 100%;
}

#contents.contents_reserve {
    padding-bottom: 70px;
    height: 125%;
}


.wrap_reserve {
    overflow: hidden;
    position: relative;
    width: 1280px;
    height: 1100px;
    margin: 0 auto;
    background-color: #FFF;
}

.wrap_reserve:after {
    content: "";
    display: block;
    clear: both;
}

.wrap_reserve .section_step_title {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 78px;
    display: flex;
    flex-direction: column;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.wrap_reserve .section_step_title ul {
    flex: 1; 
    padding: 0; 
    margin: 0; 
    list-style: none;
    display: flex;
    flex-direction: column;
}

.wrap_reserve .section_step_title ul li {
    position: relative;
    height: 25%;
    box-sizing: border-box;
    border-bottom: 1px solid #383838;
    border-right: 1px solid #383838;
    border-top: none;
    background-color: #FFF;
    z-index: 10;
    flex: 1;
}

.wrap_reserve .section_step_title ul li > a {
    display: block;
    height: 100%;
    color: #383838;
}

.wrap_reserve .section_step_title ul li:last-child {
    border-bottom: none;
}

.wrap_reserve .section_step_title ul li.active {
    border-color: #FB3D28 !important;;
    border-bottom-color: 1px solid #383838;
    background-color: #FB3D28 !important;
}

.wrap_reserve .section_step_title ul li.active > a {
    color: #FFF !important;
}

.wrap_reserve .section_step_title ul li.prev {
    border-color: #383838;
    border-bottom-color: #DDD;
    background-color: #383838;
}

.wrap_reserve .section_step_title ul li.prev > a {
    border-color: #383838;
    border-bottom-color: #DDD;
    background-color: #383838;
}


.wrap_reserve .section_step_title ul li.prev > a {
    color: #FFF;
}



.wrap_reserve .section_step_title ul li.active > a::before {
    content: "현재 단계";
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -9999em;
    overflow: hidden;
}

.wrap_reserve .section_step_title ul li > a > strong {
    display: block;
    line-height: 1.5;
    padding-top: 86px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.wrap_reserve .section_step_title ul li.active > a > strong {
    font-size: 15px;
}

.wrap_reserve .section_step_title ul li > a .box_con {
    display: none;
    position: absolute;
    z-index: 1;
    left: 77px;
    top: 0;
    bottom: 0;
    width: 172px;
    padding-left: 20px;
    border-top: 1px solid #383838;
    background-color: #333;
}

.wrap_reserve .section_step_title ul li.active > a .box_con {
    background-color: #FB3D28;
}


.wrap_reserve .section_step_title ul li.active > a .box_con dl {
    margin-top: 55px;
}

.wrap_reserve .section_step_title ul li.prev > a .box_con dl {
    margin-top: 55px;
}

.wrap_reserve .section_step_title ul li > a .box_con dl dt {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.wrap_reserve .section_step_title ul li > a .box_con dl dd {
    margin-bottom: 17px;
}

.wrap_reserve .section_step_title ul li > a .box_con dl:after {
    content: "";
    display: block;
    clear: both;
}

.wrap_reserve .section_step_title ul li > a .box_con dl dd:before {
    content: "";
    overflow: hidden;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 4px 5px 0 0;
    border-radius: 3px;
    vertical-align: top;
    background: #fff;
}


/* 메인 좌석 선택 레이어 */
.wrap_reserve .section_step_con.active {
    display: block;
    overflow: inherit;
    position: relative;
    width: 1202px;
    height: 100%;
    margin-left: 78px;
}

.wrap_reserve .section_step_con .article_layer {
    position: relative;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.wrap_reserve .section_step_con .article_layer.article_seat {
    width: 1202px;
}

.wrap_reserve .section_step_con .article_layer .group_header {
    overflow: hidden;
    position: relative;
    height: 55px;
    line-height: 55px;
    border-left: 1px solid #DDD;
    text-align: center;
    background-color: #383838;
}

.wrap_reserve .section_step_con .article_layer .group_header .tit {
    font-size: 18px;
    color: #F5F4F2;
}

.wrap_reserve .section_step_con .article_layer .group_header .txt {
    position: absolute;
    top: 5px;
    right: 100px;
    font-size: 13px;
    color: #fff;
}

.wrap_reserve .section_step_con .article_layer .group_header .txt:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
    background: #666;
}

.wrap_reserve .section_step_con .article_layer.article_stroe > .inner {
    overflow: hidden;
    height: 1046px;
}

.select_num_people {
    overflow: hidden;
    height: 117px;
    padding: 0 20px;
    background-color: #FFF;
}

.select_num_people .movie_info {
    position: relative;
    float: left;
    width: 270px;
    padding: 30px 0 0 54px;
}

.select_num_people .movie_info .thum_movie {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 24px;
    left: 0;
    overflow: hidden;
    width: 50px;
    height: 70px;
    border-radius: 4px;
}

.select_num_people .movie_info .thum_movie img {
    width: 100%;
}

img {
    border: none;
    vertical-align: top;
}

.movie_group_info {
    display: block;
    position: absolute;
    top: 24px;
    left: 60px;
}

.select_num_people .movie_info .movie_group_info .box_tit {
    display: block;
    margin-bottom: 10px;
}

.select_num_people .movie_info .movie_group_info .box_tit .ic_grade {
    margin: -5px 4px 0 0;
}

.ic_grade {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
}

.ic_grade.gr_all:before, 
.ic_grade.gr_12:before, 
.ic_grade.gr_15:before, 
.ic_grade.gr_18:before, 
.ic_grade.gr_non:before, 
.ic_grade:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}

.ic_grade:before {
    margin-left: -1px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
}

.ic_grade.gr_12 {
    background-color: transparent;
}

.ic_grade.gr_12:before {
    background: #e9b630 url(../images/ic_grade/grade_12.png) 0 0 no-repeat;
    background-size: 100%;
}

.select_num_people .movie_info .movie_group_info .box_tit strong {
    font-size: 17px;
}

.select_num_people .movie_info .movie_group_info dl {
    position: relative;
}

.select_num_people .movie_info .movie_group_info dl dt {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.select_num_people .movie_info .movie_group_info dl dd.sub_info1 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 11px;
}

.select_num_people .movie_info .movie_group_info dl dd.sub_info1 em {
    font-size: 10px;
}

.select_num_people .movie_info .movie_group_info dl dd.sub_info1 .time {
    position: relative;
    padding-left: 9px;
    margin-left: 10px;
}

.select_num_people .movie_info .movie_group_info dl dd.sub_info1 .time:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 10px;
    background: #ddd;
}

.select_num_people .count_people {
    float: right;
    width: 825px;
    margin-top: 36px;
}

.select_num_people .count_people > ul {
    display: flex;
    align-items: center;
    align-content: center;
}

.select_num_people .count_people > ul > li {
    display: flex;
    align-items: center;
    align-content: center;
    float: left;
    margin-left: 20px;
}

.select_num_people .count_people > ul > li:first-child {
    margin-left: 0;
}

.select_num_people .count_people > ul > li .tit {
    margin-right: 8px;
    font-size: 13px;
}

.select_num_people .count_people > ul > li .btn_num {
    display: inline-block;
    width: 100px;
}

.btn_num {
    position: relative;
    width: 105px;
    height: 45px;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 46px;
    background-color: #fff;
    box-sizing: border-box;
}

.btn_num .txt_num {
    position: absolute;
    padding: 11px 0;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-align: center;
    /* vertical-align: middle; */
}

.btn_num button img {
    width: 18px;
    height: 18px;
}

.btn_num .plus-button, .btn_num .minus-button {
    position: absolute;
    top: 0;
    bottom: 0;
    background: no-repeat 50% 50%;
    border: 0 none;
    padding: 0 5px;
    text-indent: -9999em;
    font: 0 auto;
}

.btn_num .minus-button {
    left: 0;
}

.btn_num .plus-button {
    right: 0; 
}



/* 좌석선택 select_seat 부분*/
.select_seat {
    overflow: hidden;
    height: 810px;
    color: #FFF;
    font-size: 13px;
    background-color: #222;
}

.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.select_seat .txt_info {
    margin: 15px 0 25px;
    text-align: center;
}

.select_seat .top_txt_info p {
    position: relative;
    display: inline-block;
    padding-left: 9px;
    color: #fff;
    font-size: 11px;
}

.seat_wrap {
    padding-top: 0 !important;
}

.m_seat_wrap {
    position: relative;
    background: #222;
    /* padding-top: 150px; */
}

.m_seat_inner {
    overflow: hidden;
    width: 1200px;
    height: 620px !important;
    max-height: 620px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}

.m_seat_inner .mCustomScrollbar {
    height: 470px;
}

.m_seat_door_position {
    position: relative;
}

.m_seat_hidden {
    overflow: hidden;
    margin: 0 auto;
}

.m_seat_inner .title_screen {
    display: block;
    padding: 5px 0 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 15px;
    margin: 0 0 140px;
    background: #383838;
}

.show_map {
    margin: 0 auto;
    width: 415px;
}

.m_seat_inner .floor_box {
    position: relative;
    padding: 0 0 35px;
    box-sizing: border-box;
}

.m_seat_inner .floor_box .floor_tit {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.m_seat_inner .floor_box .seat_area {
    position: relative;
    margin: 10px auto 0;
}

.seat_area {
    margin-top: 150px;
    width: 381px;
    height: 205px;
    position: relative;
}

.seat_tit {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

.m_seat_inner .floor_box .seat_area .sel {
    position: absolute;
    font-size: 10px;
}

.m_seat_inner .floor_box .seat_area .sel > span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 21px;
    height: 16px;
    line-height: 17px;
    background: #E8E8E8;
    color: #222;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    border-radius: 7px 7px 2px 0px;
}


.m_seat_inner .floor_box .seat_area .sel.no_select {
    width: 21px;
    height: 16px;
    background: url(../images/ticket/seat_type2.png) no-repeat center center;
    cursor: inherit;
}

.mseat_inner .floor_box .seat_area .sel.no_select:not(.disabled):not(.on) span:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 16px;
    background: #000;
    opacity: 0.5;
}

.m_seat_inner .floor_box .seat_area .sel.on span {
    background: #FB3D28;
    color: #fff;
}

/* 비상구 */
.w_right {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/ticket/emergency-exit.png) no-repeat center center;
    background-size: 23px 28px;
    display: block;
    width: 20px;
    height: 28px;
    text-indent: -9999em;
}

/* 좌석종류 */
.seat_btm_box {
    overflow: hidden;
    margin: 35px 0 0 150px;
}

.seat_btm_box .seat_type {
    float: left;
    width: 690px;
}

.seat_info_bx {
    text-align: start;
}

.seat_btm_box .seat_type .info1 {   
    margin-bottom: 15px;
}

.seat_btm_box .seat_type span {
    padding-left: 17px;
    margin-left: 6px;
}

.seat_btm_box .seat_type span.seat_type1 {
    background: url(../images/ticket/seat_type1.png) no-repeat 0 4px;
}

.seat_btm_box .seat_type span.seat_type2 {
    background: url(../images/ticket/seat_type2.png) no-repeat 0 4px;
}

.seat_btm_box .seat_type span.seat_type3 {
    background: url(../images/ticket/seat_type3.png) no-repeat 0 4px;
}

.seat_btm_box .seat_type span.seat_type4 {
    background: url(../images/ticket/seat_type4.png) no-repeat 0 4px;
}

.seat_btm_box .seat_type span.seat_type5 {
    background: url(../images/ticket/seat_type5.png) no-repeat 0 4px;
}

.seat_btm_box .seat_type span.seat_type6 {
    background: url(../images/ticket/seat_type6.png) no-repeat 0 0;
    background-size: 16px 16px;
}





/* 합계, 결제부분 */
.select_seat_result {
    overflow: hidden;
    height: 118px;
    color: #FFF;
    background-color: #383838;
}

dl.total_price:after {
    content: "";
    display: block;
    clear: both;
}

.select_seat_result .bottom_left {
    float: left;
}

.select_seat_result dl {
    padding: 41px 0 0 30px;
}

dl.total_price dt {
    float: left;
    padding: 6px 12px 0 0;
    font-size: 15px;
}

dl.total_price dd {
    float: left;
    font-size: 15px;
}

dl.total_price dd strong {
    font-size: 25px;
    font-weight: bold;
}

.select_seat_result .bottom_right {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.select_seat_result a {
    float: left;
    width: 180px;
    height: 60px;
    line-height: 60px;
    border-radius: 0;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.btn_col {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #FB3D28;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #FB3D28;
}


