@charset "UTF-8";

body {
    font-family: '돋움', Dotum, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;

}

.title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
    color: #333;
}

.subtitle {
    font-size: 14px;
    text-align: left;
    margin: 15px 0;
    color: #666;
    
}

.password-display {
    font-size: 14px;
    text-align: center;
    background-color: dimgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}

.input-display {
    margin-top: -15px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.input-display input[type="password"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

hr {
    margin-top: 15px;
}

p {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #FB3D28;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #0056b3;
}
ol {
    text-align: left;
    margin-left: 20px;
}

ol li {
    text-align: left;
    margin: 10px auto;
    list-style-type: circle;
}

/* 확인 버튼 스타일 추가 */
input[type="submit"] {
     padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border: none;
        background-color: #FB3D28;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
.store_title h3 {
    font-size: 2.5em;
    padding: 0px 0px 10px 15px;
    border-left: 10px solid #FB3D28;
    border-bottom: 2px solid #FB3D28;
}
/* 추가적인 스타일 수정이 필요한 경우 여기에 추가할 수 있습니다. */


