@charset "UTF-8";

    body {
        font-family: '돋움', Dotum, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 60%;   
        margin: 5% auto;
        padding: 20px;
        border-radius: 8px;  
    }

    .title {
    font-size: 3em;
    padding: 0px 0px 10px 15px;
    border-left: 10px solid #FB3D28;
    border-bottom: 2px solid #FB3D28;
    }

    .subtitle {
        font-size: 18px;
        text-align: center;
        margin: 15px 0;
        color: #666;
    }

    .id-display {
        font-size: 20px;
        text-align: center;
        background-color: dimgray;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        color: white;
        font-weight: bold;
    }

    p {
        text-align: center;
        margin: 15px 0;
    }

    input[type="button"] {
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border: none;
        background-color: #FB3D28;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    input[type="button"]:hover {
        background-color: #0056b3;
    }
.store_title h4 {
    font-size: 3em;
    padding: 0px 0px 10px 15px;
    border-left: 10px solid #FB3D28;
    border-bottom: 2px solid #FB3D28;
}