body {
    font-family: '나눔고딕', sans-serif; /* 'Arial' 대신 '나눔고딕' 사용 */
    background-color: #f5f5f5; /* 배경색은 연한 회색 */
}

.container {
    max-width: 500px; /* 최대 폭 설정 */
    margin: 50px auto; /* 상하 여백 50px, 좌우로 중앙 정렬 */
    padding: 20px 40px; /* 패딩 설정 */
    border-radius: 10px; /* 둥근 모서리 설정 */
}
.title{
	font-size: 2.5em;
	margin-bottom: 15px;
}
.subtitle{
	font-size: 2em;
	margin-bottom: 10px;
}

.title, .subtitle {
    text-align: center; /* 제목과 부제목 중앙 정렬 */
}

.form-group {
    margin-bottom: 20px; /* 폼 요소 간의 간격 설정 */
}

.label-text {
    display: block; /* 라벨을 블록 요소로 설정하여 줄 바꿈 */
    margin-bottom: 10px; /* 라벨 아래에 여백 추가 */
    font-size: 1.7em;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: 100%; /* 너비 100%로 설정 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    transition: border-color 0.3s ease; /* 호버 효과를 위한 트랜지션 */
    margin-top: 10px;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #007BFF; /* 포커스 시 테두리 색상 변경 */
}

input[type="submit"] {
    background-color: #FB3D28; /* 제출 버튼 배경색 */
    color: white; /* 텍스트 색상은 흰색 */
    padding: 10px 20px; /* 패딩 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
    transition: background-color 0.3s ease; /* 배경색 변경 트랜지션 */
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}
