@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html {
    font-size:62.5%;
    background-color: #F5F4F2;
    color: #000;
}
body { overflow-x: hidden; }
a { 
    text-decoration: none !important; 
    color: #383838;
}
img { border: 0; }

ul { list-style: none; }

.container {
    max-width: 500px; /* 최대 폭 설정 */
    margin: 50px auto; /* 상하 여백 50px, 좌우로 중앙 정렬 */
    padding: 20px 40px; /* 패딩 설정 */
    border-radius: 10px; /* 둥근 모서리 설정 */

}

.input-container{
	margin-right: 50px;
}

.word h2 {
    color: #333;
    padding-bottom: 10px;
    font-size: 2.5em;
    text-align: left;
}
hr {
	margin-bottom: 20px;
	border-top:1px solid red;
}
.word h5 {
    color: red;
    margin-top: 8px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: right;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.7em;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input[type="button"][value="중복 확인"] {
    margin-left: 10px;
    background-color: #FB3D28;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group .big-button {
    margin: 0 10px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    padding: 10px 15px;
    background-color: #FB3D28;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
}
