@charset "UTF-8";

#store {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.store_menu p {
    padding: 20px 0;
    font-size: 3em;
    color: #383838;
    font-weight: 600;
}

.snb_menu {
    display: flex;
    justify-content: space-between;
}

.food_menu {
    display: flex;
}

.food_menu li,
.add_food li {
    padding: 30px 20px;
    font-size: 2em;
    font-weight: 600;
    color: #383838;
}

.snb_menu li > a:hover {
    color: #FB3D28
}

/* 메인영역 */
#popcorn_store {
    max-width: 1240px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.food_image {
    width: 250px;
    height: 250px;
    background-color: aqua;
}

.dis {
    margin: 10px 0;
    width: 250px;
    height: 100px;
}

.dis p {
    padding: 5px 0;
    font-size: 1.3em;
    font-weight: 600;
    color: #383838;
    text-align: center;
}


button {
    background-color: #F5F4F2;
    color: #383838;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
  }

 