<<<<<<< HEAD
@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html {
    font-size:62.5%;
    background-color: #F5F4F2;
    color: #000;
}
body {overflow-x: hidden; }
a { 
    text-decoration: none !important; 
    color: #383838;
}
img { border: 0; }
ul { list-style: none; }


/* 메인메뉴 */
main {
  max-width: 1440px;
  width: 100%;
  margin-top: 160px;
  margin: 0 auto;
}

/*기본 정보*/

#movie_info_section{
    margin-bottom: 70px;
}

#basic_movie_info_title{
  font-size: 2em;
  color: #383838;
padding-bottom: 30px;
padding-left: 50px;
}

#basic_movie_info {
    display: flex;
    align-items: center;  /* 아이템들을 세로 가운데 정렬 */
  }
  
  #basic_movie_info_poster {
    flex: 1; 
    margin: 0 50px; 
  }

  #basic_movie_info_poster img {
    width: 100%;
    height: 100%;
  }
  
  #movie_basic_info_list {
    flex: 3;
    font-size: 1.8em;
  }

  #movie_basic_info_description_list {
    display: block;
  }

  #movie_basic_info_rating_img{
    width: 25px;
    height: auto;
  }
  
.movie_basic_info_list_item{
    display: flex;
    flex-direction: row; 
    margin: 15px 0; 
}

.movie_basic_info_list_item dt{
  font-weight: 600;
  color: #383838;
    flex: 1;
}

.movie_basic_info_list_item dd{
  color: #848484;
  flex: 5;
  line-height: 1.8;
}

/*시놉시스 부분*/

.movie_info_content{
margin-top: 80px;
}

.movie_content_title{
font-size: 2em;
border-bottom: solid 2px #FB3D28;
border-left: solid 7px #FB3D28; ;
padding-bottom: 10px;
padding-left: 10px;
}

.movie_content_title h2 {
  color: #383838;
}


.movie_synopsis_text{
  font-size: 2em;
  margin: 50px 0;
  padding-left: 50px;
  line-height: 1.6;
  color: #383838;
  padding: 0 115px;
}

/*리스트 표*/

.movie_info_table_content{
  font-size: 1.8em;
  color: #383838;

}

.movie_info_table_content table {
    padding: 0 50px ;
    max-width:1440px;
    width:100%;
}

.movie_info_table tr {
    display: flex;
    margin: 30px 0; 
}

.movie_info_table th {
  font-size: 1.2em;
  white-space: nowrap;
  flex: 1;
  color: #383838;

  }

.movie_info_table td {
  flex: 6;
  font-size: 0.9em;
  line-height: 1.5;
  color: #848484;
  padding-left: 20px;

} 

.movie_info_table tr th {
  margin: 0 50px;
}

.movie_info_table th {
  text-align: left;
  vertical-align: middle; 
}


=======
@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html {
    font-size:62.5%;
    background-color: #F5F4F2;
    color: #000;
}
body {overflow-x: hidden; }
a { 
    text-decoration: none !important; 
    color: #383838;
}
img { border: 0; }
ul { list-style: none; }


/* 메인메뉴 */
main {
  max-width: 1440px;
  width: 100%;
  margin-top: 160px;
  margin: 0 auto;
}

/*기본 정보*/

#movie_info_section{
    margin-bottom: 70px;
}

#basic_movie_info_title{
  font-size: 2em;
  color: #383838;
padding-bottom: 30px;
padding-left: 50px;
}

#basic_movie_info {
    display: flex;
    align-items: center;  /* 아이템들을 세로 가운데 정렬 */
  }
  
  #basic_movie_info_poster {
    flex: 1; 
    margin: 0 50px; 
  }

  #basic_movie_info_poster img {
    width: 100%;
    height: 100%;
  }
  
  #movie_basic_info_list {
    flex: 3;
    font-size: 1.8em;
  }

  #movie_basic_info_description_list {
    display: block;
  }

  #movie_basic_info_rating_img{
    width: 25px;
    height: auto;
  }
  
.movie_basic_info_list_item{
    display: flex;
    flex-direction: row; 
    margin: 15px 0; 
}

.movie_basic_info_list_item dt{
  font-weight: 600;
  color: #383838;
    flex: 1;
}

.movie_basic_info_list_item dd{
  color: #848484;
  flex: 5;
  line-height: 1.8;
}

/*시놉시스 부분*/

.movie_info_content{
margin-top: 80px;
}

.movie_content_title{
font-size: 2em;
border-bottom: solid 2px #FB3D28;
border-left: solid 7px #FB3D28; ;
padding-bottom: 10px;
padding-left: 10px;
}

.movie_content_title h2 {
  color: #383838;
}


.movie_synopsis_text{
  font-size: 2em;
  margin: 50px 0;
  padding-left: 50px;
  line-height: 1.6;
  color: #383838;
  padding: 0 115px;
}

/*리스트 표*/

.movie_info_table_content{
  font-size: 1.8em;
  color: #383838;

}

.movie_info_table_content table {
    padding: 0 50px ;
    max-width:1440px;
    width:100%;
}

.movie_info_table tr {
    display: flex;
    margin: 30px 0; 
}

.movie_info_table th {
  font-size: 1.2em;
  white-space: nowrap;
  flex: 1;
  color: #383838;

  }

.movie_info_table td {
  flex: 6;
  font-size: 0.9em;
  line-height: 1.5;
  color: #848484;
  padding-left: 20px;

} 

.movie_info_table tr th {
  margin: 0 50px;
}

.movie_info_table th {
  text-align: left;
  vertical-align: middle; 
}


>>>>>>> 03b06105d6f9e96da199e74b8d3458d69e5fafb9
