@charset "UTF-8";

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 500px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #FB3D28;
}

#modal .modal_header {
  position: relative;
  height: 54px;
  line-height: 58px;
  border-bottom: 1px solid #CCC;
  color: #FFF;
  text-align: center;
}

.modal_header {
  border-bottom: 1px solid #666;
  color: #FFF;
  background-color: #FB3D28;
}

#modal .modal_header strong {
  font-size: 18px;
}

.modal_header .btn_close {
  background-image: url(../images/close.png);
}

.modal_header .btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 19px;
  height: 19px;
  border: none;
  text-indent: -9999em;
  background: transparent url(../images/close.png) no-repeat 0 0;
}

#modal .modal_container {
  position: relative;
  text-align: center;
}

.modal_container {
  padding: 30px 25px;
}

.seat_info {
  text-align: center;
}

.seat_info .group_container {
  padding: 20px 0;
}

.seat_info .group_top dl dt {
  display: inline-block;
  font-size: 16px;
}

.seat_info .group_top dl dd {
  display: inline-block;
  font-size: 13px;
}

.seat_info .group_top dl dd strong {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
}

.screen_preview .sm_screen {
  width: 100%;
  height: 140px;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0;
}

.screen_preview .sm_screen .tit_screen {
  position: relative;
  z-index: 1;
  color: #bdbdbd;
  letter-spacing: 2px;
  background: none;
}

.screen_preview .minimap {
  position: relative;
  top: 50%;
}

.txt_notice {
  padding: 18px 0 26px;
  text-align: center;
}

.seat_info .group_bottom .txt_notice .tit {
  margin-bottom: 5px;
  font-size: 13px;
  color: #111;
  line-height: 1.3;
}

.seat_info .group_bottom .txt_notice .tit .ic_grade {
  margin-right: 5px;
}

.seat_info .group_bottom .txt_notice.gr_15 strong {
  border-bottom: 1px solid #dd7430;
  color: #dd7430;
}

.seat_info .group_bottom .txt_notice .txt {
  line-height: 1.4;
  font-size: 11px;
  color: #666;
  letter-spacing: -0.5px;
}

.btn_bottom_wrap {
  margin: 30px 0 20px;
}

.btn_col1.ty5, 
.btn_col2.ty5 {
  height: 40px;
  line-height: 38px;
  padding: 0 18px;
}

.btn_bottom_wrap a, .btn_bottom_wrap button {
  margin: 0 3px;
  min-width: 160px;
}

.btn_col2 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #414141;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #414141;
}

.btn_col1 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #FB3D28;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #FB3D28;
}

.btn_bottom_wrap:after {
  content: "";
  display: block;
  clear: both;
}


/* 결제완료 모달 css부분 */
.modal_notice {
  margin: 0 0 30px;
  padding-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  font-size: 13px;
  background-size: 28px auto;
}

.modal_notice {
  margin: 30px 0 20px;
  font-size: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}


.modal_notice.ty1 {
  background-image: url(../images/ticket/top_notice_ic_01.png);
}


.field_wrap {
  margin: 0 auto;
}

.field_wrap .group_item {
  margin: 30px 0;
}

.field_wrap .group_item .box_item {
  margin: 0 auto;
  position: relative;
  margin-top: 8px;
}

.field_wrap .group_item .box_item:after {
  content: "";
  display: block;
  clear: both;
}

.field_wrap .group_item .box_item:first-child {
  margin-top: 0;
}

.field_wrap .group_item .box_item.input_ty3 .tit_item {
  float: left;
  line-height: 18px;
}

.field_wrap .group_item .box_item.input_ty3 .radio_area {
  float: right;
  margin-top: -1px;
}

input[type="radio"], input[type="checkbox"] {
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  vertical-align: middle;
  border: none 0;
}

input[type="radio"] + label, input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type {
  margin-right: 0px;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: #fff;
  border: 1px solid #DDD;
  border-radius: 50%;
  vertical-align: -5px;
}

input[type="radio"]:checked + label:before {
  border-color: #000;
  background: #fff url(../images/ticket/rad_12.png) no-repeat center center;
}

.toggle_wrap {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.toggle_wrap .toggle_tit {
  position: relative;
  padding: 12px 15px;
  background-color: #FFF;
}

.toggle_wrap .toggle_tit .btn_toggle {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 25px;
  height: 25px;
  border: none;
  text-indent: -9999em;
  background: url(../../Content/images/icon/arr_dw_9.png) no-repeat center center;
}

.toggle_wrap .toggle_cont {
  display: none;
  padding: 12px 15px;
  background-color: #f8f8f8;
}

.list_txt.sml {
  font-size: 11px;
}

.list_txt.sml li {
  margin-bottom: 3px;
}

.list_txt > li {
  line-height: 1.4;
  margin: 0 0 5px 8px;
  text-indent: -8px;
  color: #333;
}

.list_txt.ty2 > li {
  margin: 0 0 5px 6px;
  text-indent: -6px;
  color: #000;
}

.btn_wrap:after {
  content: "";
  display: block;
  clear: both;
}

.btn_col2.ty6, 
.btn_col3.ty6 {
  width: 45%;
  height: 45px;
  line-height: 43px;
}

.btn_col2 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #FB3D28;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #FB3D28;
}

.btn_col3 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #414141;
  font-size: 14px;
  color: #000000 !important;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}



