<<<<<<< HEAD
@charset "UTF-8";

/* 각 헤더 영역 크기 잡기 */
.wrap_reserve .section_step_con .article_layer {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFF;
}

.wrap_reserve .section_step_con .article_layer.article_sum_info {
  width: 301px;
}

.wrap_reserve .section_step_con .article_layer .group_header {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #DDD;
  text-align: center;
  background-color: #383838;
}

.wrap_reserve .section_step_con .article_layer.article_pay_method {
  width: 487px;
  background-color: #F8F8F8;
}

.wrap_reserve .section_step_con .article_layer.article_payment {
  width: 414px;
}

/* 각 헤더의 내용 정리 */
/* 예매정보 */
.wrap_reserve .section_step_con .article_layer.article_sum_info > .inner {
  overflow: hidden;
  height: 1048px;
  border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_pay_method > .inner {
  overflow: hidden;
  height: 1048px;
  border-right: 1px solid #DDD;
}

.article_sum_info .movie_info {
  padding: 30px 30px 18px;
  border-bottom: 1px solid #DDD;
}

.article_sum_info .movie_info .tit {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}

.article_sum_info .movie_info .tit strong {
  font-weight: bold;
  color: #000;
}

.article_sum_info .movie_info .thum {
  margin-bottom: 20px;
  text-align: center;
}

.article_sum_info .movie_info .thum {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px;
}

.article_sum_info .movie_info .thum img {
  width: 120px;
}

.article_sum_info .movie_info .tit .ic_grade {
  margin-top: -3px;
}

.ic_grade:before {
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  white-space: nowrap;
}

.ic_grade.gr_12 {
  background-color: transparent;
}

.ic_grade.gr_12:before {
  background: #e9b630 url(../images/ic_grade/grade_12.png) 0 0 no-repeat;
  background-size: 100%;
}

.article_sum_info dl.list_info dt {
  clear: both;
  float: left;
  min-width: 40px;
  margin-bottom: 7px;
  font-size: 11px;
}

.article_sum_info dl.list_info dd {
  float: left;
  margin-bottom: 7px;
  font-size: 11px;
  width: 200px;
  word-break: keep-all;
}

.article_sum_info dl.list_info dd strong {
  font-size: 11px;
}

.article_sum_info dl.list_info:after {
  content: "";
  display: block;
  clear: both;
}

.article_sum_info .seat_info {
  padding: 24px 30px 15px;
  border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_payment {
  width: 414px;
}

.group_payment {
  padding: 15px 30px;
}

.article_pay_method .tit_payment {
  display: block;
  margin: 18px 0 16px;
  font-size: 15px;
}

.list_pay_item {
  margin: 0 -1%;
}

.list_pay_item li {
  float: left;
  margin: 0 1% 10px;
}

.list_pay_item.cate6 li {
  position: relative;
  width: 31.3%;
}

.list_pay_item li button {
  width: 100%;
  border-radius: 4px;
  background-color: #FFF;
}

button {
  border: 1px solid #DDD;
  cursor: pointer;
  background-color: #fff;
}

.group_payment .box_case .list_pay_item li button {
  overflow: visible;
  position: relative;
  height: 68px;
  line-height: 95px;
  background-repeat: no-repeat;
}

.group_payment .box_case .list_pay_item li button.case1 {
  background-image: url(../images/ticket/method_ic_card.png);
  background-position: center 17px;
}

.group_payment .box_case .list_pay_item li button.case2 {
  background-image: url(../images/ticket/method_ic_simple.png);
  background-position: center 17px;
}

.group_payment .box_case .list_pay_item li button.case3 {
  background-image: url(../images/ticket/method_ic_deposit.svg);
  background-position: center 14px;
}

.group_payment .box_case .list_pay_item li button.case4 {
  background-image: url(../images/ticket/method_ic_phone.png);
  background-position: center 14px;
}

.list_pay_item:after {
  content: "";
  display: block;
  clear: both;
}

.group_payment .box_cate .list_pay_item li button.active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 7px;
  height: 5px;
  margin-left: -3px;
  background: url(../images/ticket/bg_boxarrow.png) no-repeat;
}

/* 카드결제 */
.article_pay_card {
  margin: 5px 0;
  display: none;
}

.list_pay_item {
  margin: 0 -1%;
}

.list_pay_item.cate5 li {
  width: 18%;
}

.article_pay_card .list_pay_item li button {
  position: relative;
  height: 55px;
}

.list_pay_item li button {
  width: 100%;
  border-radius: 4px;
  background-color: #FFF;
}

.article_pay_card .list_pay_item li button .thum {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
}

.article_pay_card .list_pay_item.itemcenter li button .thum {
  left: 0;
  margin-left: initial;
  width: 100%;
  text-align: center;
}

.article_pay_card .list_pay_item li button .thum img {
  vertical-align: top;
}

img {
  border: none;
  vertical-align: top;
}

.article_pay_card .list_pay_item li button .tit {
  display: block;
  padding-top: 20px;
  font-size: 10px;
}

button > * {
  position: relative;
}


/* 간편결제 */
.article_pay_simple {
  margin: 5px 0;
  display: none;
}

.list_pay_item.cate3 li {
  width: 31.333%;
}

.article_pay_simple .list_pay_item li {
  text-align: center;
}

.article_pay_simple .list_pay_item li .pay_simple_box {
  position: relative;
  height: 55px;
}

.article_pay_simple .list_pay_item li span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}

.article_pay_simple .list_pay_item li button .pay_simple_thum {
  margin-top: 0;
}

.article_pay_simple .list_pay_item li button img {
  vertical-align: middle;
}

.article_pay_simple .list_pay_item li span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}

/* 무통장, 핸드폰 클릭시 css속성 */
.article_payment .select_item_wrap .group_item {
  /* padding: 10px 0 25px 0;
  border-bottom: 1px solid #DDD;
  background-color: #FFF; */
  display: none;
}

.article_payment .select_item_wrap .group_item.active {
  display: block;
  padding: 10px 0 25px 0;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
}

.article_payment .select_item_wrap .group_item .bx_item {
  position: relative;
  padding: 15px 30px 10px;
}

.article_payment .select_item_wrap .group_item .bx_item:after {
  content: "";
  display: block;
  clear: both;
}

.article_payment .select_item_wrap .group_item .group_side {
  position: relative;
  padding: 0 30px;
}

.bx_provision {
  padding: 10px 15px;
  background-color: #F8F8F8;
}

.bx_provision .provisio_lis li {
  position: relative;
  padding: 5px 0;
}

.bx_provision .provisio_lis li input[type="checkbox"] {
  position: absolute;
}

.bx_provision .provisio_lis li input[type="checkbox"] + label {
  line-height: 20px;
}

.bx_provision .provisio_lis .btn_txt_more {
  position: absolute;
  right: 0;
  top: 10px;
  background-position: right 4px;
}

.article_payment .select_item_wrap .group_item .bx_item input[type="checkbox"] {
  position: absolute;
}

input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type {
  margin-right: 0px;
}

.article_payment .select_item_wrap .group_item .bx_item input[type="checkbox"] + label {
  display: block;
  float: left;
  width: auto;
  font-size: 15px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  border: 1px solid #DDD;
  background-color: #fff;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: -5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input[type="checkbox"] + label.ty2 {
  font-size: 13px;
  font-weight: 600;
}

input[type="checkbox"] + label.ty2:before {
  border-color: #BEBEBE;
  border-radius: 50%;
  background: #fff url(../images/ticket/chk.png) no-repeat center 6px;
  vertical-align: -5px;
}

input[type="checkbox"]:checked + label.ty2:before {
  border-color: #FB3D28;
  background: #FB3D28 url(../images/ticket/chk.png) no-repeat center 6px;
}

.btn_txt_more.ty2 {
  display: inline-block;
  background: url(../images/ticket/arr_rg.png) no-repeat right 2px;
  background-size: 5px;
  border: 0 none;
  width: auto;
  padding: 0 10px 0 0;
  color: #666666;
  font-size: 13px;
}






/* 결제 박스 */
.payment_sum_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
}

.payment_sum_wrap dl:first-child {
  border-top: none;
}

.payment_sum_wrap dl {
  padding: 10px 30px;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.payment_sum_wrap dl dt {
  clear: both;
  float: left;
  line-height: 25px;
  padding: 4px 0;
  font-size: 13px;
  color: #FFF;
}

.payment_sum_wrap dl dd {
  float: right;
  clear: right;
  line-height: 25px;
  padding: 4px 0;
  font-size: 11px;
  color: #FFF;
}

.payment_sum_wrap dl:after {
  content: "";
  display: block;
  clear: both;
}

.btn_col1 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #FB3D28;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #FB3D28;
}

.payment_sum_wrap .btn_confirm {
  display: block;
  border-radius: 0;
  height: 64px;
  line-height: 64px;
  font-size: 17px;
}

.wrap_reserve .section_step_con:after {
  content: "";
  display: block;
  clear: both;
=======
@charset "UTF-8";

/* 각 헤더 영역 크기 잡기 */
.wrap_reserve .section_step_con .article_layer {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFF;
}

.wrap_reserve .section_step_con .article_layer.article_sum_info {
  width: 301px;
}

.wrap_reserve .section_step_con .article_layer .group_header {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #DDD;
  text-align: center;
  background-color: #383838;
}

.wrap_reserve .section_step_con .article_layer.article_pay_method {
  width: 487px;
  background-color: #F8F8F8;
}

.wrap_reserve .section_step_con .article_layer.article_payment {
  width: 414px;
}

/* 각 헤더의 내용 정리 */
/* 예매정보 */
.wrap_reserve .section_step_con .article_layer.article_sum_info > .inner {
  overflow: hidden;
  height: 1048px;
  border-right: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_pay_method > .inner {
  overflow: hidden;
  height: 1048px;
  border-right: 1px solid #DDD;
}

.article_sum_info .movie_info {
  padding: 30px 30px 18px;
  border-bottom: 1px solid #DDD;
}

.article_sum_info .movie_info .tit {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}

.article_sum_info .movie_info .tit strong {
  font-weight: bold;
  color: #000;
}

.article_sum_info .movie_info .thum {
  margin-bottom: 20px;
  text-align: center;
}

.article_sum_info .movie_info .thum {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px;
}

.article_sum_info .movie_info .thum img {
  width: 120px;
}

.article_sum_info .movie_info .tit .ic_grade {
  margin-top: -3px;
}

.ic_grade:before {
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  white-space: nowrap;
}

.ic_grade.gr_12 {
  background-color: transparent;
}

.ic_grade.gr_12:before {
  background: #e9b630 url(../images/ic_grade/grade_12.png) 0 0 no-repeat;
  background-size: 100%;
}

.article_sum_info dl.list_info dt {
  clear: both;
  float: left;
  min-width: 40px;
  margin-bottom: 7px;
  font-size: 11px;
}

.article_sum_info dl.list_info dd {
  float: left;
  margin-bottom: 7px;
  font-size: 11px;
  width: 200px;
  word-break: keep-all;
}

.article_sum_info dl.list_info dd strong {
  font-size: 11px;
}

.article_sum_info dl.list_info:after {
  content: "";
  display: block;
  clear: both;
}

.article_sum_info .seat_info {
  padding: 24px 30px 15px;
  border-bottom: 1px solid #DDD;
}

.wrap_reserve .section_step_con .article_layer.article_payment {
  width: 414px;
}

.group_payment {
  padding: 15px 30px;
}

.article_pay_method .tit_payment {
  display: block;
  margin: 18px 0 16px;
  font-size: 15px;
}

.list_pay_item {
  margin: 0 -1%;
}

.list_pay_item li {
  float: left;
  margin: 0 1% 10px;
}

.list_pay_item.cate6 li {
  position: relative;
  width: 31.3%;
}

.list_pay_item li button {
  width: 100%;
  border-radius: 4px;
  background-color: #FFF;
}

button {
  border: 1px solid #DDD;
  cursor: pointer;
  background-color: #fff;
}

.group_payment .box_case .list_pay_item li button {
  overflow: visible;
  position: relative;
  height: 68px;
  line-height: 95px;
  background-repeat: no-repeat;
}

.group_payment .box_case .list_pay_item li button.case1 {
  background-image: url(../images/ticket/method_ic_card.png);
  background-position: center 17px;
}

.group_payment .box_case .list_pay_item li button.case2 {
  background-image: url(../images/ticket/method_ic_simple.png);
  background-position: center 17px;
}

.group_payment .box_case .list_pay_item li button.case3 {
  background-image: url(../images/ticket/method_ic_deposit.svg);
  background-position: center 14px;
}

.group_payment .box_case .list_pay_item li button.case4 {
  background-image: url(../images/ticket/method_ic_phone.png);
  background-position: center 14px;
}

.list_pay_item:after {
  content: "";
  display: block;
  clear: both;
}

.group_payment .box_cate .list_pay_item li button.active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 7px;
  height: 5px;
  margin-left: -3px;
  background: url(../images/ticket/bg_boxarrow.png) no-repeat;
}

/* 카드결제 */
.article_pay_card {
  margin: 5px 0;
  display: none;
}

.list_pay_item {
  margin: 0 -1%;
}

.list_pay_item.cate5 li {
  width: 18%;
}

.article_pay_card .list_pay_item li button {
  position: relative;
  height: 55px;
}

.list_pay_item li button {
  width: 100%;
  border-radius: 4px;
  background-color: #FFF;
}

.article_pay_card .list_pay_item li button .thum {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
}

.article_pay_card .list_pay_item.itemcenter li button .thum {
  left: 0;
  margin-left: initial;
  width: 100%;
  text-align: center;
}

.article_pay_card .list_pay_item li button .thum img {
  vertical-align: top;
}

img {
  border: none;
  vertical-align: top;
}

.article_pay_card .list_pay_item li button .tit {
  display: block;
  padding-top: 20px;
  font-size: 10px;
}

button > * {
  position: relative;
}


/* 간편결제 */
.article_pay_simple {
  margin: 5px 0;
  display: none;
}

.list_pay_item.cate3 li {
  width: 31.333%;
}

.article_pay_simple .list_pay_item li {
  text-align: center;
}

.article_pay_simple .list_pay_item li .pay_simple_box {
  position: relative;
  height: 55px;
}

.article_pay_simple .list_pay_item li span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}

.article_pay_simple .list_pay_item li button .pay_simple_thum {
  margin-top: 0;
}

.article_pay_simple .list_pay_item li button img {
  vertical-align: middle;
}

.article_pay_simple .list_pay_item li span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: #666;
}

/* 무통장, 핸드폰 클릭시 css속성 */
.article_payment .select_item_wrap .group_item {
  /* padding: 10px 0 25px 0;
  border-bottom: 1px solid #DDD;
  background-color: #FFF; */
  display: none;
}

.article_payment .select_item_wrap .group_item.active {
  display: block;
  padding: 10px 0 25px 0;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
}

.article_payment .select_item_wrap .group_item .bx_item {
  position: relative;
  padding: 15px 30px 10px;
}

.article_payment .select_item_wrap .group_item .bx_item:after {
  content: "";
  display: block;
  clear: both;
}

.article_payment .select_item_wrap .group_item .group_side {
  position: relative;
  padding: 0 30px;
}

.bx_provision {
  padding: 10px 15px;
  background-color: #F8F8F8;
}

.bx_provision .provisio_lis li {
  position: relative;
  padding: 5px 0;
}

.bx_provision .provisio_lis li input[type="checkbox"] {
  position: absolute;
}

.bx_provision .provisio_lis li input[type="checkbox"] + label {
  line-height: 20px;
}

.bx_provision .provisio_lis .btn_txt_more {
  position: absolute;
  right: 0;
  top: 10px;
  background-position: right 4px;
}

.article_payment .select_item_wrap .group_item .bx_item input[type="checkbox"] {
  position: absolute;
}

input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type {
  margin-right: 0px;
}

.article_payment .select_item_wrap .group_item .bx_item input[type="checkbox"] + label {
  display: block;
  float: left;
  width: auto;
  font-size: 15px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  border: 1px solid #DDD;
  background-color: #fff;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: -5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input[type="checkbox"] + label.ty2 {
  font-size: 13px;
  font-weight: 600;
}

input[type="checkbox"] + label.ty2:before {
  border-color: #BEBEBE;
  border-radius: 50%;
  background: #fff url(../images/ticket/chk.png) no-repeat center 6px;
  vertical-align: -5px;
}

input[type="checkbox"]:checked + label.ty2:before {
  border-color: #FB3D28;
  background: #FB3D28 url(../images/ticket/chk.png) no-repeat center 6px;
}

.btn_txt_more.ty2 {
  display: inline-block;
  background: url(../images/ticket/arr_rg.png) no-repeat right 2px;
  background-size: 5px;
  border: 0 none;
  width: auto;
  padding: 0 10px 0 0;
  color: #666666;
  font-size: 13px;
}






/* 결제 박스 */
.payment_sum_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
}

.payment_sum_wrap dl:first-child {
  border-top: none;
}

.payment_sum_wrap dl {
  padding: 10px 30px;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.payment_sum_wrap dl dt {
  clear: both;
  float: left;
  line-height: 25px;
  padding: 4px 0;
  font-size: 13px;
  color: #FFF;
}

.payment_sum_wrap dl dd {
  float: right;
  clear: right;
  line-height: 25px;
  padding: 4px 0;
  font-size: 11px;
  color: #FFF;
}

.payment_sum_wrap dl:after {
  content: "";
  display: block;
  clear: both;
}

.btn_col1 {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #FB3D28;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #FB3D28;
}

.payment_sum_wrap .btn_confirm {
  display: block;
  border-radius: 0;
  height: 64px;
  line-height: 64px;
  font-size: 17px;
}

.wrap_reserve .section_step_con:after {
  content: "";
  display: block;
  clear: both;
>>>>>>> main
}