/* 초기화 */
* { 
    margin: 0; 
    padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
    box-sizing: border-box; /* 박스 모델 초기화 */
}

html {
    font-size: 62.5%; /* 이렇게 설정하면 1rem = 10px */
    background-color: #F5F4F2;
    color: #000;
}

body {
    overflow-x: hidden; 
}

a { 
    text-decoration: none; 
    color: #383838;
}

img { 
    border: 0; 
}

ul { 
    list-style: none; 
}
.container {
    max-width: 800px; /* 최대 폭 설정 */
    margin: 50px auto; /* 상하 여백 50px, 좌우로 중앙 정렬 */
    padding: 20px 40px; /* 패딩 설정 */
    border-radius: 10px; /* 둥근 모서리 설정 */

}

/* 폼 스타일링 */
form {
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 5px; 
}
.word h2 {
    color: #333;
    padding-bottom: 10px;
    font-size: 2.5em;
    text-align: center;
}
.word h4 {
    color: #333;
    padding-bottom: 10px;
    font-size : 1.4em;
    text-align: center;
}
.wordImportant h4 {
    color: #333;
    padding-bottom: 10px;
    font-size : 1.4em;
    text-align: left;
    color: gray;
    margin-top: 15px;
}
hr {
	margin-bottom: 20px;
	border-top:1px solid red;
}
label {
}

.input-group, .button-group {
    margin-bottom: 35px; 
    display: flex;  /* flexbox를 사용하여 레이블과 입력란을 한 줄에 배치 */
    align-items: center;  /* 세로로 중앙 정렬 */
}

/* 초기화 */
/* ... (앞부분의 코드는 생략했습니다) */

.table-wrapper {
    margin: 20px 0;
    overflow-x: auto; /* 테이블이 너무 길 경우 스크롤바 표시 */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em; /* 테이블 내의 글씨 크기를 키우기 */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    background-color: #eaeaea;
}

.button-group {
    justify-content: flex-end;  /* 버튼을 오른쪽 끝으로 정렬 */
}

.button-group input[type="button"] {
    padding: 10px 15px;
    background-color: #FB3D28;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
}

/* 페이지네이션 스타일링 */
.pagination {
    text-align: center; /* 페이지네이션을 가운데 정렬 */
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 10px; /* 페이지네이션 숫자 간격을 띄우기 */
    padding: 5px 10px;
    border: 1px solid #ddd;
    display: inline-block;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.question-content {
    max-width: 300px; /* 원하는 최대 너비를 설정 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}