<!DOCtYpE html>
<html lang="ko">
<head>
  <meta charset="UtF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>영화</title>
  <link rel="stylesheet" href="../css/movie_list.css"/>
  <link rel="stylesheet" href="../css/common.css">
</head>
<body>
  <header>
    <!-- 로고 -->
    <div id="main_header">
      <div class="logo">
        <a href="#"><img src="../images/logo.jpg" alt="메인 로고"></a>
      </div>
      <!-- 로그인 성공 시 나타나는 부분 -->
      <div class="login_user" id="login_user">
        <p><span id="userName">username</span>님 환영합니다.</p>
      </div>
    </div>
    
    <!-- nav -->
    <nav id="header_menu">
      <div class="menu">
        <ul class="menu_list">
          <li><a href="#">영화</a></li>
          <li><a href="#">매장정보</a></li>
          <li><a href="#">예매</a></li>
          <li><a href="#">푸드스토어</a></li>
        </ul>
        <ul class="login_list" id="login_list">
          <li><a href="#" id="login_link">로그인</a></li>
          <li><a href="#">회원가입</a></li>
        </ul>
      </div>
    </nav>
  </header>

  
  <main>
    <div id="movielist_title">
      <h1>영화 순위</h1>
    </div>
  <section id="movielist_postor_content">

    <article class="movielist_movieposter_row">

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


    </article>

    <article class="movielist_movieposter_row">

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing" >예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


    </article>

        <!--여기부터는 숨겨져있다가 더보기 버튼누르면 1줄씩나옴-->
    <article class="movielist_movieposter_row hidden">

      <div class="movielist_movieposter_cell ">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


    </article>



    <article class="movielist_movieposter_row hidden">

      <div class="movielist_movieposter_cell ">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


    </article>


    <!-- 2번째줄-->
    <article class="movielist_movieposter_row hidden">

      <div class="movielist_movieposter_cell ">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>

      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


      <div class="movielist_movieposter_cell">
        <a href="#" class="movielist_movieposter_cell">
        <img src="../images/poster_rank/20226798.jpg" alt="영화제목" >
        <div class="movielist_movieposter_overlay">
            <p>영화 설명</p>
        </div>
      </a>
        <p>영화 제목</p>
        <div class="ticketing_btn">
          <button class="movie_ticketing">예매하기</button>
        </div> 
      </div>


    </article>

  
    <button id="movielist_show_next_button">
      더보기
    </button>
  </section>
  </main>
  
<!-- 상단 이동 버튼 -->
<a class="topBtn" id="go_top" href="#">
  <img src="../images/top.png" alt="누르면 홈페이지 상단으로 이동합니다.">
</a>

<!-- 푸터 -->
<footer id="main_footer">
  <section class="company_info_wrap">
    <address>(21570)인천광역시 남동구 구월동 1126-7(인주대로 596) 기한빌딩 8층</address>
    <dl class="company_info_list">
      <dt>대표이사</dt>
      <dd>HRW</dd>
      <dt class="with_colon">사업자번호</dt>
      <dd data-content>000-00-00000</dd>
      <dt class="with_colon">통신판매업신고번호</dt>
      <dd data-content>2023-인천구월-0000</dd>
    </dl>
    <dl class="company_info_list">
      <dt>호스팅사업자</dt>
      <dd data-content>HRW THEATER</dd>
      <dt class="with_colon">대표이메일</dt>
      <dd data-content>hrwmaster@hrw.net</dd>
    </dl>
    <p class="copyright">Copyright© HRW THEATER. All Rights Reserved</p>
  </section>
</footer>


  <script src="../js/movie_list.js"></script>
  <script src="../js/common.js"></script>
</body>
</html>